.classic {
  // .classic__container
  &__container {
  }
  // .classic__block
  &__block {
    padding: rem(80) 0;
    @media (max-width: $tablet2) {
      padding: rem(64) 0;
    }
    &:first-child {
      .classic__group {
        &:first-child {
          @media (max-width: $mobileSmall) {
            grid-row-gap: rem(16);
            margin-bottom: rem(32);
          }
          .classic__row {
            &:first-child {
              grid-column: 1 / span 4;
              grid-row: 1 / 4;
              @media (max-width: $tablet2) {
                grid-row: 3;
              }
              @media (max-width: $mobileSmall) {
                margin-top: rem(16);
              }
              .classic__img {
                padding-bottom: percent(640, 512);
              }
            }
            &:nth-child(2) {
              grid-column: 7 / span 3;
              @media (max-width: $tablet2) {
                grid-column: 1 / span 3;
                grid-row: 1;
              }
              @media (max-width: $mobileSmall) {
                grid-column: 1 / span 2;
              }
            }
            &:nth-child(3) {
              grid-column: -1 / -3;
              text-align: right;
              @media (max-width: $tablet2) {
                grid-column: -1 / -3;
                grid-row: 1;
              }
              @media (max-width: $mobileSmall) {
                grid-column: -1 / -2;
              }
              .classic__decor-img {
                @media (max-width: $tablet2) {
                  max-width: rem(111);
                  margin-left: auto;
                }
                @media (max-width: $mobileSmall) {
                  max-width: rem(60);
                }
              }
            }
            &:nth-child(4) {
              grid-column: 7 / -1;
              grid-row: 3 / 4;
              @media (max-width: $tablet2) {
                grid-column: 1 / -1;
                grid-row: 2;
              }
            }
          }
        }
        &:nth-child(2) {
          .classic__video-wrapper {
            grid-column: 1 / -1;
            .classic__video {
              padding-bottom: percent(873, 1552);
            }
          }
        }
        &:nth-child(3) {
          @media (max-width: $mobileSmall) {
            grid-row-gap: rem(24);
          }
          .classic__row {
            &:first-child {
              grid-column: 7 / span 3;
              @media (max-width: $tablet2) {
                grid-column: 1 / span 4;
              }
              @media (max-width: $mobileSmall) {
                grid-column: 1 / -1;
              }
            }
            &:nth-child(2) {
              grid-column: 4 / -3;
              @media (max-width: $tablet2) {
                grid-column: 1 / -1;
              }
              .classic__images {
                grid-template-columns: repeat(7, 1fr);
                @media (max-width: $tablet2) {
                  grid-template-columns: repeat(3, 1fr);
                }
                .classic__img {
                  &:first-child {
                    align-self: start;
                    grid-column: span 3;
                    padding-bottom: percent(480, 382);
                    @media (max-width: $tablet2) {
                      grid-column: span 1;
                      padding-bottom: percent(284, 224);
                    }
                  }
                  &:last-child {
                    grid-column: span 4;
                    padding-bottom: percent(640, 512);
                    @media (max-width: $tablet2) {
                      grid-column: span 2;
                      padding-bottom: percent(570, 456);
                    }
                  }
                }
              }
            }
          }
        }
        &:nth-child(4) {
          @media (max-width: $tablet2) {
            grid-row-gap: rem(16);
          }
          .classic__row {
            &:first-child {
              grid-column: 9 span;
              @media (max-width: $tablet2) {
                grid-column: 1 / -1;
              }
              .classic__images {
                grid-template-columns: repeat(3, 1fr);
                .classic__img {
                  padding-bottom: percent(480, 382);
                  @media (max-width: $tablet2) {
                    padding-bottom: percent(284, 224);
                  }
                }
              }
            }
            &:nth-child(2) {
              grid-column: 7 / -1;
              @media (max-width: $tablet2) {
                grid-column: 1 / -1;
              }
              .classic__text {
                &:not(:last-child) {
                  margin-bottom: rem(24);
                  @media (max-width: $mobileSmall) {
                    margin-bottom: rem(16);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // .classic__group
  &__group {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: rem(8);
    grid-row-gap: rem(32);
    &:not(:last-child) {
      margin-bottom: rem(80);
      @media (max-width: $tablet2) {
        margin-bottom: rem(64);
      }
    }
    @media (max-width: $tablet2) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media (max-width: $mobileSmall) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  // .classic__row
  &__row {
  }
  // .classic__images
  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: rem(8);
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }
  // .classic__img
  &__img {
    position: relative;
    border-radius: rem(8);
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .classic__text
  &__text {
    font-size: rem(22);
    line-height: math.div(26, 22);
    @media (max-width: $mobileSmall) {
      font-size: rem(15);
      line-height: math.div(19, 15);
    }
    // .classic__text_big
    &_big {
      font-size: rem(48);
      line-height: math.div(43, 48);
      letter-spacing: rem(-1.44);
      @media (max-width: $mobileSmall) {
        font-size: rem(28);
        line-height: math.div(28, 28);
        letter-spacing: normal;
      }
    }
    // .classic__text_middle
    &_middle {
      font-size: rem(32);
      line-height: math.div(32, 32);
      @media (max-width: $tablet2) {
        font-size: rem(22);
        line-height: math.div(26, 22);
      }
      @media (max-width: $mobileSmall) {
        font-size: rem(20);
        line-height: math.div(24, 20);
      }
    }
    // .classic__text_small
    &_small {
      font-size: rem(15);
      line-height: math.div(19, 15);
    }
  }
  // .classic__decor-img
  &__decor-img {
    img {
      max-width: 100%;
    }
  }
  // .classic__video-wrapper
  &__video-wrapper {
  }
  // .classic__video
  &__video {
    position: relative;
    border-radius: rem(8);
    overflow: hidden;
    cursor: pointer;
    @media (any-hover: hover) {
      &:hover {
        &::before {
          opacity: 0.7;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: rem(32);
      @media (max-width: $tablet2) {
        margin-bottom: rem(24);
      }
    }
    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(55);
      height: rem(55);
      background-image: url(../img/icons/play.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      pointer-events: none;
      transition: opacity 0.3s ease 0s;
      @media (max-width: $mobileSmall) {
        width: rem(32);
        height: rem(32);
      }
    }
    &-full {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: rem(8);
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .classic__link-more
  &__link-more {
    display: inline-block;
    color: $blue;
    font-weight: 500;
    font-size: rem(18);
    line-height: math.div(18, 18);
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $blue-hover;
      }
    }
    @media (max-width: $mobileSmall) {
      padding: rem(4) 0;
      font-size: rem(16);
      line-height: math.div(16, 16);
    }
  }
}
