.collections {
  padding: rem(24) 0 rem(80);
  @media (max-width: $tablet2) {
    padding: rem(24) 0 rem(64);
  }
  // .collections__container
  &__container {
  }
  // .collections__body
  &__body {
  }
  // .collections__title
  &__title {
    font-size: rem(32);
    line-height: math.div(32, 32);
    &:not(:last-child) {
      margin-bottom: rem(24);
      @media (max-width: $mobileSmall) {
        margin-bottom: rem(16);
      }
    }
    @media (max-width: $mobileSmall) {
      font-size: rem(28);
      line-height: math.div(28, 28);
    }
  }
  // .collections__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: rem(8);
    grid-row-gap: rem(32);
    @media (max-width: $tablet2) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  // .collections__item
  &__item {
    position: relative;
    // .collections__item_1
    &_1 {
      grid-column: 6 span;
      @media (max-width: $tablet2) {
        grid-column: 6 span;
      }
      @media (max-width: $mobileSmall) {
        grid-column: 1 / -1;
      }
      .collections__item-img {
        padding-bottom: percent(579, 772);
      }
      .collections__item-descr {
        @media (min-width: $tablet2) {
          max-width: 50%;
        }
      }
    }
    // .collections__item_2
    &_2 {
      grid-column: -1 / -5;
      @media (max-width: $tablet2) {
        grid-column: 3 span;
      }
      @media (max-width: $mobileSmall) {
        grid-column: 1 / -1;
      }
      .collections__item-img {
        padding-bottom: percent(384, 512);
      }
      .collections__item-descr {
        @media (min-width: $tablet2) {
          max-width: 75%;
        }
      }
    }
    // .collections__item_3
    &_3 {
      grid-column: 4 / -4;
      @media (max-width: $tablet2) {
        grid-column: 3 span;
      }
      @media (max-width: $mobileSmall) {
        grid-column: 1 / -1;
      }
      .collections__item-img {
        padding-bottom: percent(579, 772);
      }
      .collections__item-descr {
        @media (min-width: $tablet2) {
          max-width: 50%;
        }
      }
    }
    // .collections__item_4
    &_4 {
      grid-column: 1 / 5;
      @media (max-width: $tablet2) {
        grid-column: 2 / -2;
      }
      @media (max-width: $mobileSmall) {
        grid-column: 1 / -1;
      }
      .collections__item-img {
        padding-bottom: percent(384, 512);
      }
      .collections__item-descr {
        @media (min-width: $tablet2) {
          max-width: 75%;
        }
      }
    }
    // .collections__item_5
    &_5 {
      grid-column: -1 / -7;
      @media (max-width: $tablet2) {
        grid-column: 3 span;
      }
      @media (max-width: $mobileSmall) {
        grid-column: 1 / -1;
      }
      .collections__item-img {
        padding-bottom: percent(579, 772);
      }
      .collections__item-descr {
        @media (min-width: $tablet2) {
          max-width: 50%;
        }
      }
    }
    // .collections__item_6
    &_6 {
      grid-column: 4 / -4;
      @media (max-width: $tablet2) {
        grid-column: 3 span;
      }
      @media (max-width: $mobileSmall) {
        grid-column: 1 / -1;
      }
      .collections__item-img {
        padding-bottom: percent(579, 772);
      }
      .collections__item-descr {
        @media (min-width: $tablet2) {
          max-width: 50%;
        }
      }
    }
  }
  // .collections__item-img
  &__item-img {
    position: relative;
    border-radius: rem(8);
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .collections__item-title
  &__item-title {
    display: inline-block;
    font-size: rem(32);
    line-height: math.div(32, 32);
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    @media (max-width: $mobileSmall) {
      font-size: rem(28);
      line-height: math.div(28, 28);
    }
  }
  // .collections__item-descr
  &__item-descr {
    line-height: math.div(19, 15);
  }
}
