.not-found {
  // .not-found__container
  &__container {
  }
  // .not-found__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(204) 0;
    @media (max-width: $tablet2) {
      padding: rem(212) 0 rem(225);
    }
    @media (max-width: $mobileSmall) {
      align-items: flex-start;
      padding: rem(64) 0 rem(276);
    }
  }
  // .not-found__title
  &__title {
    text-align: center;
    font-size: rem(48);
    line-height: math.div(43, 48);
    letter-spacing: rem(-1.44);
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
    @media (max-width: $mobileSmall) {
      text-align: left;
      font-size: rem(36);
      line-height: math.div(36, 36);
    }
  }
  // .not-found__text
  &__text {
    max-width: rem(380);
    text-align: center;
    line-height: math.div(19, 15);
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
    @media (max-width: $mobileSmall) {
      text-align: left;
    }
  }
  // .not-found__action
  &__action {
  }
  // .not-found__link
  &__link {
  }
}
