.products-slider {
  margin-bottom: rem(80);
  &_bestseller {
    margin-bottom: rem(80);
  }
  &_lab {
    margin-bottom: rem(80);
  }
  @media (max-width: $tablet2) {
    margin-bottom: rem(64);
  }
  // .products-slider__container
  &__container {
  }
  // .products-slider__head
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
    &_main {
      &:not(:last-child) {
        margin-bottom: rem(24);
        @media (max-width: $mobileSmall) {
          margin-bottom: rem(16);
        }
      }
    }
  }
  // .products-slider__title
  &__title {
    font-size: rem(22);
    font-weight: 500;
    line-height: math.div(26, 22);
    @media (max-width: $mobileSmall) {
      font-size: rem(20);
      line-height: math.div(24, 20);
    }
    &_big {
      font-weight: 400;
      font-size: rem(48);
      line-height: math.div(43, 48);
      letter-spacing: rem(-1.44);
      @media (max-width: $mobileSmall) {
        font-size: rem(32);
        line-height: math.div(32, 32);
        letter-spacing: normal;
      }
    }
    span {
      text-transform: uppercase;
    }
  }
  // .products-slider__arrows
  &__arrows {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-left: rem(16);
  }
  // .products-slider__arrow
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(26);
    padding: rem(4);
    color: $dark;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $dark-hover;
      }
    }
    &.swiper-button-disabled {
      color: $dark-25;
      pointer-events: none;
    }
    svg {
      fill: currentColor;
    }
  }
  // .products-slider__arrow-prev
  &__arrow-prev {
  }
  // .products-slider__arrow-next
  &__arrow-next {
  }
  // .products-slider__grid
  &__grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: rem(8);
    grid-row-gap: rem(24);
    @media (max-width: $tablet2) {
      grid-template-columns: 1fr;
    }
  }
  // .products-slider__text
  &__text {
    font-size: rem(22);
    line-height: math.div(26, 22);
    @media (min-width: $tablet2) {
      max-width: rem(304);
    }
    @media (max-width: $mobileSmall) {
      font-size: rem(20);
      line-height: math.div(24, 20);
    }
  }
  // .products-slider__list
  &__list {
  }
  // .products-slider__list-wrapper
  &__list-wrapper {
  }
  // .products-slider__slide
  &__slide {
  }
}
