@use 'sass:math';

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import 'base/mixins';

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import 'fonts/fonts';

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Pragmatica';
$fontSize: rem(15); // где 15(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #111111; // Цвет шрифта по умолчанию
$dark: #111111; // основной цвет текста — им набираем весь текст, который выглядит, как черный
$black: #000000; // основной цвет текста — им набираем весь текст, который выглядит, как черный
$secondary: #404040; // для вспомогательного текста, подписей в интерфейсе
$secondary2: #585858;
$dark-50: #888888; // 50% от черного, используется для маленьких надписей, хлебных крошек и иконок
$dark-25: #bbbbbb; // используется для цвета металла серебро и обводка для белого золота. Также для активной обводки и цвет disabled для темных кнопок
$dark-15: #dcdcdc; // используется для скролла в корзине
$white: #ffffff; // белый цвет
$white-60: #a0a0a0; // белый цвет текст для темного фона

// Ссылки и кнопки
$dark-hover: #414141; // Цвет при наведении
$light-hover: #e8e8e8; // Цвет при наведении
$blue-hover: #1979a9; // Цвет при наведении

// Разделители
$border: #dbdbdb; // основной цвет линий
$border-dark: #414141; // цвет линий для черного фона

// Прочие цвета
$red: #dc582a; // Красный цвет для вывода ошибок и акционной цены
$green: #789d4a; // Цвет успеха
$blue: #298fc2; // Синий цвет, подсвечиваются интерактивные элементы, бейджи
$blue-10: #eaf4f9; // Светло-синий, используется для блока подарка на стр оформления заказа и долями
$yellow: #f1be48; // Желтый цвет
$yellow-10: #fef9ed; // Светло-желтый цвет для иллюстраций
$gold: #e0b86d; // Для обозначения металла из золота

// Фоны
$light-gray: #f4f4f4; // светло-серый цвет для заливки
$white-25: rgba(
	$color: #ffffff,
	$alpha: 0.25
); // белый цвет с прозрачностью в 25%, используется как фон для неактивного слайда

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 2180;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 64;
$containerPaddingTablet: 32;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pc2: em(1399.98); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet2: em(1023.98); // Планшеты, некоторые телефоны в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null';

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	&.transition_disabled * {
		transition: none !important;
	}
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

body::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease 0s;
	pointer-events: none;
	z-index: 101;
}

body::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease 0s;
	pointer-events: none;
	z-index: 99;
}

.menu-hover body::after {
	opacity: 1;
}

// .filters-open body::before {
// 	opacity: 1;
// }

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	.page_gray {
		background-color: $light-gray;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*='__container'] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	// По брейк-поинтам
	[class*='__container'] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import 'base';

// Подключение стилей общих элементов проекта
@import 'common';

// Подключение стилей отдельных блоков
@import 'header';
@import 'footer';

// Подключение стилей отдельных страниц
@import 'home';
@import 'catalog';
@import 'product-card';
@import 'search';
@import 'products-item';
@import 'products-slider';
@import 'order';
@import 'order-success';
@import 'info';
@import 'account';
@import 'shops';
@import 'vacancies';
@import 'contacts';
@import 'whishlist';
@import 'not-found';
@import 'blog';
@import 'brand';
@import 'collections';
@import 'sever';
@import 'classic';
@import 'woodstock';
@import 'tatau';
@import 'twin-peaks';
@import 'lab';
